@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

.menu {
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px 10px 10px 10px;
	font-family: 'Verdana', sans-serif;
	min-width: 250px;
	color: #fff;
	box-shadow: 0px 0px 50px 0px #000;
	font-size: 10px;
	position: absolute;
	border: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	
}

.menu.align-left 
{
	right: 60;
	bottom: 40;
}

.menu.align-top-left 
{
	right: 60;
	bottom: 40;
}

.menu.align-top 
{
	right: 60;
	bottom: 40;
}

.menu.align-top-right {
	right: 60;
	bottom: 40;
}

.menu.align-right 
{
	right: 60;
	bottom: 40;
}

.menu.align-bottom-right 
{
	right: 60;
	bottom: 40;
}

.menu.align-bottom 
{
	right: 60;
	bottom: 40;
}

.menu.align-bottom-left 
{
	right: 60;
	bottom: 40;
  
}

.menu.align-center 
{
	right: 60;
	bottom: 40;
}

.menu .head {
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	animation: BgGradient 30s ease infinite;
	font-size: 14px;
	text-transform: uppercase;
	background: linear-gradient(120deg,#d9f10073,#8e44ad,#53247200,#4400ff62,#cf043762,#f10538d5,#1a38be,#d9f10073,#8e44ad,#00000000,#4400ff62,#cf043762,#05f14ce7,#1a38be);
	background-size: 900% 900%;
	height: 35px;
	line-height: 40px;
  	/* background-color: rgba(0, 0, 0, 0.8); */
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: hidden;
	border-radius: 0px 0px 10px 10px;
  
}

.menu .menu-items .menu-item {
	height: 40px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	-box-shadow: inset 1px 0px 0px 1px rgba(0, 0, 0, 0.6);
	height: 25px;
	line-height: 22px;
	color: rgb(255, 255, 255);
	text-align: left;
  	padding: 0 10px;
  	justify-content: space-between;
  	border-top: 1px solid black;
  
}

.menu .menu-items .menu-item.selected {
	background-color: #4d4d4d38;
}


@keyframes BgGradient {
    0% {background-position: 0% 50% ;}
    50% {background-position: 100% 50% ;}
    100% {background-position: 0% 50% ;}
}